@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

button:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
  font-family: "Open Sans", sans-serif; 
}

body {
  background-image: url(../images/dotted-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, h2 {
  font-family: "Amaranth", serif;
}

.home {
  font-family: "Amaranth", serif;
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  margin: 0;
}

.menu-icon {
  display: none;
}

.menu-btn {
  display: none;
}

.page {
  width: 100%;
  margin: 0 auto;
  color: #33323d;
}

.navigation {
  width: 100%;
  background-color: rgb(43, 34, 34);
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  z-index: 10;
}

.navigation__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.navigation__logo {
  object-fit: contain;
  width: 60px;
}

.navigation__links {
  display: flex;
  font-size: 14px;
  line-height: 14.1px;
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  align-items: center;
}

.navigation__link {
  text-decoration: none;
  color: #fff;
  margin-left: 43px;
  transition: color 0.3s ease;
}

.navigation__link:hover {
  color: #fff;
} 

.header {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding-top: 50px;
  height: 100vh;
}

.header__content {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.header__text {
  padding-top: 54px;
  padding-right: 55px;
  padding-bottom: 54px;
  width: 60%;
  align-self: center;
}

.header__title {
  font-family: "Amaranth", serif;
  margin: 0 0 20px 0;
  font-size: 70px;
  overflow: hidden;
}

.header__subtitle {
  font-size: 40px;
  line-height: 55px;
  margin: 0;
}

.header__image {
  border-radius: 50%;
  width: 40%;
  height: auto;
  align-self: center;
}

.about-me-link {
  text-decoration: none;
}

.button-primary {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 15px;
  width: 250px;
  color: #fff;
  background-color: #ea593d;
  border: 0;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border-radius: 30px;
  margin-top: 40px;
  height: 50px;
  transition: transform 0.3s ease;
}

.button-primary:hover {
  transform: translate3D(0, -1px, 0) scale(1.05);
}

.about {
  margin: 100px auto;
  max-width: 1015px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 50px;
}

.about__image {
  width: 50%;
  object-fit: contain;
}

.about__text {
  max-width: 450px;
  padding-bottom: 47px;
  background-color: #fff;
}

.about__title {
  font-family: "Amaranth", serif;
  font-size: 40px;
  line-height: 42px;
}

.about__paragraph {
  font-size: 16px;
  line-height: 30px;
  margin: 0 0 24px 0;
}

.projects {
  background-color:#f7f7f7;
  padding-top: 30px;
}

.projects__title {
  font-family: "Amaranth", serif;
  color: #003143;
  text-align: center;
  font-size: 40px;
  line-height: 42px;
  margin-bottom: 80px;
}

.projects__container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  padding-bottom: 70px;
}

.projects__card {
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
  box-shadow: 5px 5px 10px rgb(197 195 195);
  transition: all 0.3s ease;
  padding: 25px;
}

.projects__card:hover {
  box-shadow: 5px 5px 20px rgb(197 195 195);
  transform: translate3D(0, -1px, 0) scale(1.03);
}

.projects__image {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 230px;
  border-radius: 10px;
  object-fit: cover;
  border: 1px solid gainsboro;
}

.projects__name {
  font-family: "Amaranth", serif;
  font-size: 24px;
}

.projects__description {
  width: 90%;
  margin: 0 auto;
  line-height: 23px;
  min-height: 180px;
}

.projects__technologies {
  font-size: 13px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  min-height: 35px;
}

.projects__button {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 14px;
  padding: 8px 15px;
  color: #ea593d;
  background-color: #fff;
  border: 2px solid #ea593d;
  border-radius: 30px;
  margin: 10px;
  cursor: pointer;
  display: inline-block;
}

.projects__button:hover {
  background-color: #ea593d;
  color: #fff;
}

.technologies {
  background-color: rgb(43, 34, 34);
  padding: 50px 0;
}

.technologies__title {
  font-family: "Amaranth", serif;
  font-size: 40px;
  color: #fff;
  margin: 0;
  text-align: center;
}

.technologies__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto 0 auto;
  padding: 0;
  max-width: 800px;
}

.technologies__container li {
  margin: 0 20px;
  width: 120px;
  list-style: none;
  width: 80px;
  text-align: center;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1rem;
  color: #fff;
}

.technologies__container li img {
  width: 80px;
  margin-bottom: 15px;
}

.contact {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
}

.contact__content {
  text-align: center;
}

.contact__heading {
  font-family: "Amaranth", serif;
  font-size: 40px;
  line-height: 42px;
  margin: 0;
}

.contact__paragraph {
  font-size: 20px;
  margin-top: 25px;
}

.contact__button {
  align-self: center;
}

.footer {
  width: 100%;
  background-color: rgb(255, 225, 209);
}

.footer__columns {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.footer__column-social {
  max-width: 104px;
}

.footer__text {
  margin: 0;
  align-self: center;
}

.footer__column-social {
  width: 400px;
  display: flex;
}

.footer__icon {
  margin-left: 20px;
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 1400px) {
  .projects__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1150px) {
  .header__title {
    font-size: 45px;  
  }

  .header__subtitle {
    font-size: 30px;
    line-height: 45px;
  }
}

@media screen and (max-width: 1000px) {

  .about {
    width: 90%;
  }

  .header {
    padding-top: 150px;
  }

  .header__content {
    flex-direction: column-reverse;
  }

  .header__text {
    width: 100%;
    padding: 0;
    margin-top: 40px;
    text-align: center;
  }

  .header__image {
    width: 60%;
  }

}

@media screen and (max-width: 850px) {
  .projects__container {
    grid-template-columns: 1fr;
  }

  .projects__image {
    height: 300px;
  }
}

@media screen and (max-width: 768px) {

  .about {
    flex-direction: column;
    width: 90%;
  }

  .about__image {
    width: 100%;
  }

  .about__text {
    max-width: max-content;
  }

}

@media screen and (max-width: 660px) {

  body {
    background-image: none;
    background-color:rgb(255, 225, 209);
  }
  
  .header__title {
    font-size: 40px;  
  }

  .header__subtitle {
    font-size: 25px;
    line-height: 35px;
  }

  .navigation__links {
    font-size: 12px;
  }

  .about {
    padding: 30px;
  }

  .about__button {
    display: block;
    margin: 0 auto;
  }

  .about__button-link {
    text-decoration: none;
  }

  .projects__image {
    height: 200px;
  }

  .technologies__container li img {
    width: 40px;
  }

  .contact {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer__icon {
    margin-left: 10px;
  }

}

@media screen and (max-width: 450px) {

  .navigation__links {
    padding-left: 0;
  }

  .navigation__link {
    margin-left: 20px;
  }

  .header {
    padding-bottom: 100px;
  }

  .header__title {
    font-size: 30px;  
  }

  .header__subtitle {
    font-size: 20px;
    line-height: 30px;
  }

  .about__title {
    margin-top: 0;
  }

  .about__paragraph {
    font-size: 13px;
    line-height: 24px;
  }

  .projects__container {
    width: 90%;
  }

  .projects__description {
    font-size: 13px;
    width: 100%;
  }

  .projects__technologies {
    margin-top: 10px;
  }

  .footer__columns {
    width: 90%;
  }

}